<p>customer-list works!</p>
<button [routerLink]="['/customer/add']">Add</button>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of customers; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.createdAt}}</td>
            <td>
                <button [routerLink]="['/customer',item.id,'edit']">Edit</button>
                <button (click)="onDelete(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>